<nav class="breadcrumbs grey lighten-4">
    <a href="/" class="breadcrumb blue-text text-darken-2">Home</a>
    <a href="./#/users/" class="breadcrumb blue-text text-darken-2">Users</a>
    <span class="breadcrumb">{{user.firstName}} {{user.lastName}}</span>
</nav>

<div class="row">
    <div class="col s6 offset-s3">
        <form name="editUser" id="editUser" ng-submit="save(user._id || user.id, $event)" novalidate>
            <input type="hidden" name="id" value="{{user._id || user.id}}">
            <label>First Name: <input type="text" name="firstName" value="{{user.firstName}}" ng-model="user.firstName" autocomplete="off" autofocus required pattern="[A-Za-zА-Яа-яієІЄ'`]{3,}"></label>
            <label>Last Name: <input type="text" name="lastName" value="{{user.lastName}}" ng-model="user.lastName" autocomplete="off" required pattern="[A-Za-zА-Яа-яієІЄ'`]{3,}"></label>
            <button type="submit" ng-disabled="editUser.$invalid" class="left light-blue darken-4 btn waves-effect waves-light">Save</button>
            <button type="button" ng-click="cancel()" class="right light-blue darken-4 btn waves-effect waves-light">Cancel</button>
        </form>
    </div>
</div>