extends ../layout

block content
  ol.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/users") Users
    li.active New User

  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading New User
      .panel-body
        form#addUser(method="POST" action="/users/add")
          .form-group
            label(for="firstName") First Name
            input.form-control#firstName(type="text" name="firstName" value="" placeholder="Fist Name" autocomplete="off" required)
          .form-group
            label(for="lastName") Last Name
            input.form-control#lastName(type="text" name="lastName" value="" placeholder="Last Name" autocomplete="off" required)
          .form-group
            button.btn.btn-default(type="submit") Add
            button.btn.btn-default.pull-right#cancel(type="button") Cancel